<%- include("partials/explore-header"); -%>


<div class="explore-area">
  <div class="explore-sub-area">
    <% for(var i = 0; i < posts.length; i++) { %>
    <div class="">
      <ol>
        <li>
          <h1 class="sub-heading"> <%= posts[i].input %> </h1>
        </li>
      </ol>
    </div>
    <div class="">
      <p class="sub-para">
        <% if(posts[i].post.length > 300) { %>
        <%= posts[i].post.substring(0, 300) %>
        <a href="/post/<%= posts[i].input %>">read more.</a>
        <% } else { %>
        <%= posts[i].post %>
        <% } %>
      </p>
    </div>
    <% } %>
  </div>
  <div class="explore-search">
    <form class="" action="index.html" method="post">
      <input class="explore-p-search-txtarea" type="text" name="" value="">
      <button class="explore-p-search-btn" type="button" name="button"><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>



<%- include("partials/footer"); -%>
