<%- include("partials/home-header"); -%>


<div class="about-div" style="box-shadow: #cacfdf 0px 0px 5px 2px;">
  <div class="container">
    <h1 class="heading"><i class="N fab fa-neos"></i>itin<i class="B fab fa-bootstrap"></i>log</h1>
    <p class="heading-para"> ><%= homeStartingContent %></p>
  </div>
</div>

<div class="container middle-container" style="text-align: center">

<% for(var i = 0; i < posts.length; i++) { %>
<h1 class="sub-heading"> <%= posts[i].input %> </h1>

<p class="sub-para">
  <%= posts[i].post %>
</p>

<% } %>


<% if(posts.length != 0) { %>
  <div class="container" style="text-align: center">
    <form action="/" method="post">
      <button class="btn btn-warning reset-btn" type="submit" name="reset"> Reset </button>
    </form>
  </div>
<% } %>


<%- include("partials/footer"); -%>




<% /* posts.forEach(function(element) { %>
<%   console.log(element.input); %>
<% }); */ %>
